/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/04/2014, 23:58:54
    Author     : Ivan
*/
body{
     background: url(../img/bg_topo1.jpg) repeat;
}
#topo_master_full{
    background: url(../img/bg_topo1.jpg) repeat;
    width: 100%;
    height: 72px;
    border-bottom: 4px #FFF solid;
}
#topo_master_util{
    max-width: 1070px;
}
#logo img{ margin-top: 10px;}
#logo h1{
    color: #ff6000;
     max-width: 60%;
    text-shadow: 1px 0px 0px #D8D8D8, 
                 -1px 0px 0px #D8D8D8, 
                 0px 1px 0px #D8D8D8, 
                 0px -1px 0px #D8D8D8;
    margin-left: 10px;
}
#session_usuario{
  padding: 4px 0;  
}
.cinza_texto{
    color: #D1D1D1;
}
.linha-usuario{
    
    padding: 4px;
    
}
#btn-sair{cursor: pointer;}


#menu{
    margin-top: 20px;
}

/*********************CONTEÚDO***********************/
#content{
 min-height: 600px;
}
#area-interage{
    width: 80%;
}
#recado-compartilhe{  
   margin-bottom: 10px;
   max-width: 91%;
   margin-left: 31px;
}

/*********************NOTÍCIAS***********************/
#notices{
    margin-top: 10px;
    max-width: 80%;
    float: left;
}

/*********************FIM NOTÍCIAS***********************/




.msgEmail{
    margin-top: 10px;
   
}

/*********************FIM CONTEÚDO***********************/



/*********************CADASTRO DE USUARIO***********************/
#avisos-cadastro-usuario{
    margin-top: 20px;
    margin-left: 5%;
    max-width: 90%;
    display: none;
}
.junb-menor {font-size: 14px;}

/*********************FIM CADASTRO DE USUARIO***********************/








/*********************Footer***********************/


#footer-master{
     border-top: 4px #FFF solid;
}
footer ul{
    list-style: none;
    padding: 0;
}

/*SESSAO INICIAL*/
#welcome{   
    padding: 30px;    
}
#welcome-header{    
    height: 100px;   
    width: 100%;
}
#form-login-welcome{
    background: none;
    margin-bottom: 6px;
}